*{
    font-family: 'Lato', sans-serif;
}

.align-center{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titolo{
    font-size: 50px;
    margin-top: 0;
}

.img-animation{
    border-radius: 5px;
    transform: rotate(0deg);
    animation: swing 2.5s infinite linear;
}

@keyframes swing{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(1deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-1deg);
    }
    100%{
        transform: rotate(0deg);
    }
}